/RivBlog/RivBlog.Api/obj/Debug/netcoreapp1.1/RivBlog.Api.AssemblyInfo.cs
/RivBlog/RivBlog.Api/obj/Debug/netcoreapp1.1/RivBlog.Api.AssemblyInfoInputs.cache
/RivBlog/RivBlog.Api/obj/Debug/netcoreapp1.1/RivBlog.Api.csproj.CoreCompileInputs.cache
/RivBlog/RivBlog.Api/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RivBlog/RivBlog.Api/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RivBlog/RivBlog.Api/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RivBlog/RivBlog.Api/obj/RivBlog.Api.csproj.nuget.cache
/RivBlog/RivBlog.Api/obj/RivBlog.Api.csproj.nuget.g.props
/RivBlog/RivBlog.Api/obj/RivBlog.Api.csproj.nuget.g.targets
/RivBlog/RivBlog.Api/obj/project.assets.json
